body {
background-color:pink
}
h1 {
    color: purple;
    text-align: center;
    font-size: 32px;
}
button {
    background-color: white;
    color: red;
    padding: 10px 20px;
    font-size: 16px;
}
input {
    padding: 8px;
    font-size: 10px;
}
li {
    font-size: 9px;
    margin: 10px;
}
